<main>
    <pre><code class="state"></code></pre>
    <div class="control">
        <input class="revision-selector" type="range" step="1" /> : <span class="current-index"></span>
    </div>
    <div class="commit-message"></div>
</main>
<footer>
    <button class="toggle">^</button>
</footer>
